<h1> showing the article </h1>

<p>Title: <%= @article.title %></p>
<p>Description: <%= @article.description %></p>
<p><%= link_to "Edit this Article",edit_article_path(@article)%></p>
<p> <%= link_to "back to articles listing",articles_path%></p>
