<h1>List of users</h1>


<% @users.each do |user| %>
<%= link_to user.username, user_path(user)%>
<%= pluralize(user.articles.count, "article") if user.articles%>
<% if logged_in? and current_user.admin? %>
<li> <%= link_to "Delete this User",user_path(user), method: :delete,
                      data: {confirm: "Are u sure you want to delete user and articles? "},class: "btn btn-primary" %> </li>
<% end %>

<% end %>
