<!-- <h1>This is home page of AlphaBlog</h1> -->
<div class="jumbotron">
  <h1>Alpha Blog</h1>
  <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->
  <%= link_to "SignUp", "#", class:"btn btn-primary btn-lg btn-xlarge"  %>
</div>
