<div class="container">
  <footer class="footer">
    <small>
      <p>Posted by: Jithendra Prasad</p>
      <p>Contact information: <a href="mikal.jitu@gmail.com">
        mikal.jitu@gmail.com</a>.</p>
    </small>
    <nav>
      <ul>
        <li><%= link_to "about",about_path%></li>
      </ul>
    </nav>
  </footer>
</div>
